


#coconut {
    background-image: url('images.png');
    width: 200px;
    height: 200px;
    position:relative; 
    left:80px; 
    top:350px;
    padding: 10px;
    /* ... Existing styles ... */
    transition: transform 0.2s ease-in-out;
  }

  #coconut.clicked {
    transform: scale(1.2);
  }
  #cococount {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 50px;
    position:relative; 
    left:90px; 
    top:350px;
}

#cocospersec {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 50px;
  position:relative; 
  left:90px; 
  top:350px;
}

#seperator1 {
  position:relative; 
  left:400px; 
  top: -300px;
  border-left: 15px solid rgb(14, 212, 238);
  height: 1100px;
}

#seperator2 {
  border-top: 15px solid rgb(14, 212, 238);
  height: 1000px;
  width: 1000px;
  position:relative; 
  left:400px; 
  top: -1200px;

}


#seperator3 {
  border-top: 15px solid rgb(14, 212, 238);
  height: 100px;
  width: 1000px;
  position:relative; 
  left:400px; 
  top: -1900px;

}
#seperator4 {
  position:relative; 
  left:1400px; 
  top: -3000px;
  border-left: 15px solid rgb(14, 212, 238);
  height: 1580px;
}

#multitest {
  position:relative; 
  left:1420px; 
  top: -3900px;
  font-size: 50px;
  font-size: 16px;
  padding: 15px 32px;
  width: 500px;
  
}

#cocochopper {
  position:relative; 
  left: 915px; 
  top: -3840px;
  font-size: 50px;
  font-size: 16px;
  padding: 15px 32px;
  width: 500px;
  
}
